.logo img {
    width: 150px;
}

table.tbl-shopping-cart > thead > tr > th, table.tbl-shopping-cart > tbody > tr > th, table.tbl-shopping-cart > tfoot > tr > th {
    color: #ffffff;
    --bs-table-accent-bg: var(--theme-color1);
}

.table-striped>tbody>tr:nth-of-type(odd)>* {
    --bs-table-accent-bg: unset;
}
.table-striped>tbody>tr:nth-of-type(even)>* {
    --bs-table-accent-bg: var(--bg-theme-light-color1);
}

.service-block.about {
    position: relative;
    margin-bottom: 50px;
    z-index: 1;
}

.featured-products .filters li:before {
    bottom: -4px;
}

.product-block .image {
    aspect-ratio: 1;
}

.loader-cont {
    width: 100vw;
    height: 100vh;
}

.product-notfound-cont {
    width: 100vw;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.preloader.inner {
    position: relative;
}

.product-block .ui-btn.fav {
    background-color: var(--theme-color2);
}

.product-block .ui-btn.fav::before {
    content: "";
    position: absolute;
    top: -7px;
    left: -7px;
    display: block;
    height: 54px;
    width: 54px;
    text-align: center;
    color: #ffffff;
    z-index: 9;
    border-radius: 50%;

    border: 4px solid var(--theme-color1);
    z-index: -1;
}

table.tbl-shopping-cart .product-remove button, table.cart-total .product-remove button {
    display: inline-block;
    width: 24px;
    height: 24px;
    line-height: 24px;
    border-radius: 24px;
    -webkit-transition: all 300ms ease-out;
    transition: all 300ms ease-out;
    background-color: #757575;
    color: #ffffff;
    text-align: center;
}

.cart-item-count {
    font-size: 14px;
    background-color: var(--theme-color2);
    font-family: var(--text-font);
}

.certified-logo .icon-box1-home2 {
    max-width: 250px;
}

.certified-logo-heading {
    color: var(--theme-color3);
}

.slider-logo .cont {
    max-width: 150px;
}

.slider-logo img {
    width: 100% !important;
    height: auto !important;
}

@media (max-width: 991.98px) {
    .service-block.about {
        margin-bottom: 30px;
    }

}

@media (max-width: 1200px) {
    .play-now-two {
        height: 50px;
        width: 50px;
    }
}